.g-container {
  position: relative;
  padding: 0 190px;

  & > div {
    float: left;
    min-height: 30px;
  }
}

.g-main {
  position: relative;
  width: 100%;
  background: #cc6630;
}

.g-left {
  position: relative;
  width: 190px;
  margin-left: -100%;
  left: -190px;
  background: #ffcc00;
}

.g-right {
  position: relative;
  width: 190px;
  margin-left: -190px;
  right: -190px;
  background: pink;
}
